.vertical-line {
    position: absolute;
    left: 50%; 
    height: 95%;
    border-left: 2px solid black;
    top: 17px;
    z-index: 1000;
    transition: transform 2s;
}

.sweep-left {
    transform: translateX(-100vw);
}

.sweeper-wipe {
    width: 50vw;
    position: absolute;
    background: white;
    top: 0px;
    left: 51%;
    z-index: 10000;
    height: 100vw;
    transition: transform 2s;
}
